extends layout

block vars
	-var title = "Builder"
	
block content
	div(id="modal" class="modal")
			div(class="modal-content")
				span(class="close") x
				p Name your Build:
				form
					input(id="buildName" type="text" name="buildName" value="My Build")
				br
				img(id="screenshot")
				button(class="upload" onclick="upload()") Upload
	div(class="column")
		div(class="row")
			canvas(id="myCanvas")
			div(class="inventory" ng-app="myApp" ng-controller="blocksCtrl")
				div(class="inventory-container")
					div(class="inventory-blocks" ng-repeat="x in blocks")
						button(class="texture" id="{{ x.name }}")
							img(class="texture-picture" src="{{ x.icon }}" id="{{ x.icon }}" title="{{ x.name }}")
	div(class="palette")
	div(class="inventory-container" ng-repeat="x in range(0,15)")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
		button(class="texture palette-icon")
			img(class="texture-picture" src="images/big/transparent.png")
	button(class="submit" id="submit" onclick="submit()") Submit
	a(href="../")
		button Back
	
	script(src="three.min.js")
	script(src="three-trackballcontrols.js")
	script(src="builder.js")