extends layout

block vars
	-var title = "MCTuts"
	
block content
	a(href="builder")
		button Create a Build!
	div(ng-app="myApp" ng-controller="buildsCtrl")
		div(class="tutorials" ng-repeat="x in builds")
			a(href="tutorial/{{$index}}" class="tutorial") {{ x.build_name }}
	script(src="home.js")
	