<div id="preferences-modal" class="preferences-modal">
	<div class="preferences-modal-content">
		<span class="close">x</span>
		<p>Preferences:</p>
		<form action="/builder">
			<input id="buildLength" type="number" name="buildLength" value="25">
			<br>
			<input id="buildWidth" type="number" name="buildWidth" value="25">
			<br>
			<select id="buildFloor" name="buildFloor">
				<option value="grass_top">Grass</option>
				<option value="sand">Sand</option>
				<option value="snow">Snow</option>
				<option value="dirt_podzol">Podzol</option>
				<option value="mycelium_top">Mycelium</option>
				<option value="netherrack">Netherrack</option>
				<option value="end_stone">EndStone</option>
				<option value="bedrock">Bedrock</option>
			</select>
			<br>
			<button class="submitPreferences" onclick="submitPreferences()">Build</button>
		</form>
	</div>
</div>
<div class="builds-box">
	{{#if user}}
		<button class="builds-button" id="create">Create a Tutorial! »</button>
	{{/if}}
	<div ng-app="myApp" ng-controller="buildsCtrl">
		<input type="text" class="searchbar" placeholder="Search" ng-model="filter">
		<div class="tutorialbox">
			<div class="row">
				<div class="tutorials" ng-repeat="x in builds | filter:filter | orderBy:'-'">
					<a href="tutorial/((x._id))" class="build-link">
						<div class="tutorial">
							<img id="screenshot" src="((x.screenshot))">
							<p class="center build-title">(( x.build_name )) by (( x.build_user ))</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/home.js"></script>