<div class="builds-box">
	<div ng-app="myApp" ng-controller="buildsCtrl">
		<h2 id="profile-header"><p class="profile-text">(username)'s Builds: </p></h2>
		<input type="text" class="searchbar" placeholder="Search" ng-model="filter">
		<div class="tutorialbox">
			<div class="row">
				<div class="tutorials" ng-repeat="x in builds  = (builds | filter:{ build_user: username}) | filter:filter | orderBy:'-'">
					<a href="../tutorial/(x._id)" class="build-link">
						<div class="profile-tutorial">
							<img id="screenshot" src="(x.screenshot)">
							<p class="center build-title">( x.build_name ) by ( x.build_user )</p>
							{{#if user }}
								<a href="../editer/(x._id)" id="show"><button class="edit">edit</button></a>
								<a href="../delete/(x._id)" id="show"><button class="delete">delete</button></a>
							{{/if}}
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>




<script src="../js/home.js"></script>
<script src="../js/handlebars.js"></script>
<link href="../css/style.css", rel="stylesheet">
