<canvas id="myCanvas"></canvas>
<div class="row">
	<button id="previous" disabled="true">Previous</button>
	<button id="next">Next</button>
</div>
<script src="../js/three.min.js"></script>
<script src="../js/three-trackballcontrols.js"></script>
<script src="../js/tutorial.js"></script>
<link href="../css/style.css", rel="stylesheet">