<div class="canvas-box">
	<div class="column">
		<div class="row">
			<canvas id="myCanvas"></canvas>
			<div class="inventory">
				<div class="inventory-container">
					<p class="required-blocks">Required Blocks:</p><br>
					<div class="inventory-blocks" ng-repeat="x in blocks">
						<div id="generateLayers"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row buttons">
		<p id="step">Step 0</p>
		<button id="previous" disabled="true">Previous</button>
		<button id="next">Next</button>
		<div class="control-key">
			<p class="control-title">Key</p>
			<div class="row">
				<div class="control-section">
					<p class="control-instruction">Right-Arrow: next</p>
					<p class="control-instruction">Left-Arrow: prev</p>
				</div>
				<div class="control-section">
					<p class="control-instruction">WASD: pan</p>
					<p class="control-instruction">Mid-Click: rotate</p>
				</div>
				<div class="control-section">
					<p class="control-instruction">+: zoom in</p>
					<p class="control-instruction">-: zoom out</p>
				</div>
			</div>
		</div>
	</div>
	</div>
<script src="../js/three.min.js"></script>
<script src="../js/three-trackballcontrols.js"></script>
<script src="../js/tutorial.js"></script>
<link href="../css/style.css", rel="stylesheet">