@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body{
	height: 100%;
}

body{
    margin: 0;
    overflow: hidden;
    background-color: #516066;
	font-family: 'Open Sans', sans-serif;
	background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.upload{
	background-color: whitesmoke;
	padding: 5px;
	border: 1px solid green;
	cursor: pointer;
	margin: 10px;
}

.by{
	margin: 0 10px 0 10px;
}

.box{
	background-color: rgba(215,235,215, 0.7);
	padding: 10px;
	width: 1000px;
	margin: 0px auto;
	min-height: 100%;
	border: 1px solid darkseagreen;
}

.login-box{
	background: #826E4F;
	border: #594B36 1px solid;
	text-align: center;
	color: white;
	margin: 40px;
	padding: 40px;
}

.searchbar{
	margin: 0 auto;
	display: block;
	width: 600px;
	font-size: 2em;
	padding: 5px;
	border: 1px solid darkseagreen;
}

.shiny{
    background-color: rgba(255, 255, 255, 0.9) !important;
}

#buildUser{
	display: none;
}

.inventory{
    height: 600px;
    width: 235px;
    background-color: darkseagreen;
    overflow-y: auto;
}

.column{
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
}

.row{
    display: flex;  
	flex-flow: row wrap;
}

.inventory-container{
    margin: 0 auto;
    width: 90%; 
    padding-bottom: 20px;
}

.texture{
    background-color: rgba(255, 255, 255, 0.3);
    height: 48px;
    width: 48px;
    padding: 2px;
    margin: 8px;
    display: inline-block;
}

.texture-picture{
	height: 38px;
	width: 38px;
}

.delete{
	padding: 5px;
}

.edit{
	padding: 5px;
}

#screenshot{
	width: 200px;
	height: auto;
	margin-top: 20px;
}

.tutorials{
	padding: 0px;
	text-align: center; 
	width: 265px;
}

.build-title{
	color: white;
	font-weight: bold;
}

.tutorialbox{
	height: 500px;
	overflow-y: scroll;
	margin: 20px auto;
	width: 812px;
	background: gray;
	border: 1px solid darkseagreen;
}

.center{
	padding: 5px;
	margin: 0 auto;
}

.inventory-blocks{
    display: inline-block;
}

.layer{
	 margin: 20px;
}

.submit-modal {
    display: none;
	margin: 0 auto;
    position: absolute;
    z-index: 1;
    left: 0;
	right: 0;
    top: 200px;
    width: 500px;
    height: 100%;
}

.submit-modal-content {
    background-color: green;
    padding: 5px;
    border: 1px solid #000;
	text-align: center;
	display: block;
	color: white;
	font-weight: bold;
}

.preferences-modal {
    display: none;
	margin: 0 auto;
    position: absolute;
    z-index: 1;
    left: 0;
	right: 0;
    top: 200px;
    width: 500px;
    height: 100%;
}

.preferences-modal-content {
    background-color: green;
    padding: 5px;
    border: 1px solid #000;
	text-align: center;
	display: block;
	color: white;
	font-weight: bold;
}

.submitPreferences{
	background-color: whitesmoke;
	padding: 5px;
	border: 1px solid green;
	cursor: pointer;
	margin: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.submit{
	display: block;
	margin: 0 0 0 auto;
	font-size: 1.5em;
	background-color: #4CAF50;
	border: 1px solid green;
	color: white;
	cursor: pointer;
}

.submit:hover{
	background-color: green;
}

#grid-button{
	background-color: cornflowerblue;
	color: white;
	border-radius: 25px;
	position: absolute;
	padding: 8px;
	margin: 5px;
	cursor: pointer;
}

#grid-button:hover{
	background-color: azure;
	color: black;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navbar{
	margin-left: auto;
	margin-right: 225px;
	width: 500px;
}

.navbar-button{
	background: white;
	height: 110px;
	width: 75px;
	text-align: center;
	margin: 0px 2px 2px 2px;
	color: #516066;
	font-weight: bold;
}

.navbar-button:hover{
	background: darkseagreen;
}

.navbar-text{
	font-size: 1.2em;
	margin-top: 0px;
}

.navbar-link{
	text-decoration: none;
}

li{
	list-style-type: none;
}

.builds-box{
	background-color: rgba(215,235,215, 0.7);
	padding: 10px;
	width: 1000px;
	margin: 0px auto;
	min-height: 100%;
	border: 1px solid darkseagreen;
}

.canvas-box{
	background-color: rgba(215,235,215, 0.7);
	padding: 10px;
	width: 1240px;
	margin: 0px auto;
	border: 1px solid darkseagreen;
}

#profile-header{
	display: block;
	margin: 30px auto 30px auto;
	width: 795px;
	color: whitesmoke;
	font-weight: bold;
	font-size: 2em;
	height: 100px;
	background: #826E4F;
	border: #594B36 2px solid;
}

.profile-text{
	text-align: center;
	height: 100%;
	text-shadow: 2px 2px black;
}

.builds-button{
	display: block;
	margin: 30px auto 30px auto;
	width: 795px;
	cursor: pointer;
	color: whitesmoke;
	font-weight: bold;
	font-size: 2em;
	height: 100px;
	background-color: #4CAF50;
	border: 1px solid green;
	text-shadow: 2px 2px black;
}

.builds-button:hover{
	background: darkseagreen;
}

.builds-spacer{
/*	margin: 200px;*/
}

.build-link{
	text-decoration: none;
}

.tutorial{
	background: #826E4F;
	border: #594B36 1px solid;
/*	height: 239px;*/
	height: 210px;
}

.profile-tutorial{
	background: #826E4F;
	border: #594B36 1px solid;
/*	height: 275px;*/
	height: 250px;
	position:relative;
}

.profile-tutorial:hover{
	background: darkseagreen;
}

.edit{
	position: absolute;
	background-color: #4CAF50;
	border: 1px solid green;
	padding: 5px;
	bottom: 10px;
	left: 88px;
	cursor: pointer;
	color: white;
}

.edit:hover{
	background-color: green;
}

.back-button{
	background-color: #BD2E26;
	border: 1px solid #AF4C50;
	padding: 5px;
	cursor: pointer;
	color: white;
	margin-top: 40px;
}

.back-button:hover{
	background-color: red;
}

.delete{
	position: absolute;
	background-color: #BD2E26;
	border: 1px solid #AF4C50;
	padding: 5px;
	bottom: 10px;
	right: 88px;
	cursor: pointer;
	color: white;
}

.delete:hover{
	background-color: red;
}

.buttons{
/*	margin: 10px auto auto auto;*/
	margin: 10px 0px 0px 20px;
}

#step{
	text-align: left;
	color: white;
	text-shadow: 2px 2px green;
	font-size: 3em;
	margin: 0;
	width: 450px;
}

.required-blocks{
	margin: 10px auto auto 10px;
	font-size: 1.5em;
	color: white;
	text-shadow: 2px 2px #826E4F;
}

#next{
	background-color: #4CAF50;
	border: 1px solid green;
	padding: 15px;
	color: white;
	font-size: 1.2em;
}

#next:hover:enabled{
	background-color: green;
	cursor: pointer;
}

#previous{
	background-color: white;
	padding: 15px;
	color: black;
	font-size: 1.2em;
}

#previous:hover:enabled{
	background-color: gainsboro;
	cursor: pointer;
}

.logo{
	float: left;
	position: absolute;
	left: 450px;
}

.logo-text{
	color: white;
	margin: 0px 0px 0px 20px;
	font-size: 5em;
	text-shadow: 4px 4px #826E4F;
}

.tutorial:hover{
	background: darkseagreen;
}

.footer{
	background: #4CAF50;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2px;
	text-align: center;
}

.control-key{
	font-size: .75em;
	background: rgba(255,255,255,0.4);
	padding: 5px 10px 5px 5px;
	border-radius: 25px;
	margin-left: 280px;
}

.control-section{
	margin-left: 10px;
}

.control-title{
	font-size: .8em;
	text-align: center;
	margin: 0 0 5px 0;
	font-weight: bolder;
}

.control-instruction{
	text-align: left;
	margin: 0;
}

@media all and (max-width: 1900px){
	.logo-text{
		display: none;
	}
}

@media all and (max-width: 1300px){
    .builds-box{
        width: 100%;
		padding: 0;
    }
	.builds-button{
		width: 100%;
		padding: 0;
	}
	.searchbar{
		width: 100%;
		padding: 0;
	}
	.tutorialbox{
		width: 100%;
	}
	.row{
		width: 100%;
	}
}

@media all and (max-width: 1200px){
	.logo-icon{
		display: none;
	}
}

@media all and (max-width: 600px){
	.tutorials{
		width: 100%;
	}
}